@font-face {
    font-family: "CenturyGothic";
    src: url(../fonts/GOTHIC.TTF);
}

html, body{
	background-color: #0f0e0c;
	color: #FFF;
	font-family: CenturyGothic;
	font-size: 16px;
	height: 100%;
}


#barracentral{
	background-color: #303030; 
	position: absolute;
	top: 205px;
	width: 100%;
	z-index: 0;
}

#fondo{
	background: url('../images/background2.png') top center;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#contenido{
	position: relative;
	width: 730px;
}

#footer{
	float: left;
	font-size: 14px;
	margin-top: 30px;
	position: relative;
	text-align: center;
	width: 1000px;
}

#footer a{
	color: #FFF;
	text-decoration: none;
}

#header{
	clear: both;
	height: auto;
	padding: 20px 0px;
	width: 1000px;
}

#datos{
	font-size:12px;
	position: relative;
	width: 200px;
}

#datos a{
	color: #97c93c;
	text-decoration: none;
}

#header #logo-principal{
	display: inline-block;
	position: relative;
	width: 250px;
}

#header #subtitulo{
	color: #2f2f2f;
	display: inline-block;
	font-size: 45px;
	position: absolute;
	text-align: right;
	top: 65px;
	width: 740px;
	z-index: 2;
}

#imageneshome img{
	border: 3px solid #FFF;
	/*border-radius: 10px;*/
	margin: 0px;
	padding: 0px;
}

#imageneshome span{
	font-size: 14px;
	margin: 0px;
}

#leftside{
	display: inline-block;
	float: left;
	height: auto;
	position: relative;
	width: 700px;
}

#leftside .imagenhome{
	display: inline-block;
	height: 135px;
	margin-right: 10px;
}

#principal{
	margin: 0px auto;
	overflow: hidden;
	position: relative;
	top: 20px;
	width: 1000px;
	z-index: 2;
}

#rightside{
	float: left;
	position: relative;
	width: 235px;
}

#todo{
	color: #FFF;
	float: left;
	height:100%;
	padding: 0px 30px;
}

#todo h1{
	color: #97c93c;
	margin: 0px;
}

#todo .producto{
	color: #97c93c;
	display: inline-block;
	font-size: 12px;
	margin: 0px 10px 10px;
	text-align: center;
	width: 150px;
}

.Rpic{
	float: right;
	margin: 0px 0px 10px 20px;
}

.Lpic{
	float: left;
	margin: 0px 20px 10px 0px;
}

/* -------------- MENU HORIZONTAL -------------- */

#menu{
	font-weight: bold;
	line-height: 50px;
}

#menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px 0px 10px;
}

#menu ul li{
	display: inline;
}

#menu a{
	color: #FFF;
	padding: 10px 38px;
	text-align: center;
	text-decoration: none;
}

#menu a:hover{
	background-color: #303030;	
	border-radius: 5px 5px 0px 0px;
	color: #97c93c;
	text-align: center;
	text-decoration: none;
}

.botonhover{
	background-color: #303030;	
	border-radius: 5px 5px 0px 0px;
	color: #97c93c;
	text-align: center;
	text-decoration: none;	
}

/*  -------- SLIDER -------- */
#s3slider {
    width: 900px; /* important to be same as image width */
    height: 400px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
	margin: 0 auto;
}
 
#s3sliderContent {
    width: 900px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
}
 
.s3sliderImage {
    float: left;
    position: relative;
	display: none;
}
 
.s3sliderImage span {
    position: absolute;
	font: 14px Tahoma;
    padding: 10px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #97c93c;
    display: none;
}
 
.clear {
    clear: both;
}

.s3sliderImage span strong {
    font-size: 16px;
    color: #FFF;
}
.left {
	position: absolute;
	top: 0;
    left: 0;
	width: 120px !important;
	height: 400px;
}
.right {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 120px !important;
	height: 385px;
}
